* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    margin-top: 0;
    background: #000;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#calculator {
    display: grid;
    gap: 10px;
    background: #000FFF;
    border-radius: 20px;
    padding: 20px;
}

#calculator input {
    width: 100%;
    max-width: 337px;
    padding: 20px 20px;
    outline: none;
    border: none;
    background: #e4e4e6;
    font-size: 2em;
}

.calc-btn {
    width: 20vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 15px;
    padding: 35px;
    background: #343434;
}

button {
    font-size: 1.5em;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
}

button.number {
    background: #1d1d1d;
}

button.key-others {
    background: #AAAAAA;
    color: #000000;
}

button.key-operate {
    background: #ff9000;
    color: #FFFFFF;
    font-weight: 600;
}

button:nth-child(17) {
    grid-column: 1/3;
    text-align: left;
    padding-left: 30px;
}

button:hover {
    opacity: 0.80;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}